.about-name {
    font-family: var(--chakra-fonts-heading); /* Define or replace with actual font-family */
    font-weight: var(--chakra-fontWeights-bold); /* Define or replace with actual font-weight */
    font-size: var(--chakra-fontSizes-display); /* Define or replace with actual font-size */
    line-height: 95%;
    color: transparent;
    background-image: linear-gradient(to left, #638bed, #37d393);
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    z-index: 1;
}

.About {
  max-width: 900px;
  margin: auto;
  padding: 50px;
  color: #ffffff; /* Light text color for contrast */
  background: linear-gradient(135deg, #000000, #484848);
}

.about-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  float: left; /* or right */
  margin-right: 20px; /* Adjust spacing around the image */
}

p {
  text-align: justify;
  margin-bottom: 1em;
}

blockquote {
  font-style: italic;
  margin: 20px 0;
  padding-left: 20px;
  border-left: 3px solid #ccc;
}

